<div class="container ">
    <div class="row ">
        <app-title-effect [text]="'qualification' |translate" [color]="specialActualColor"></app-title-effect>
        <div class="col-lg-6 col-12 pt-5 d-lg-none">
            <h3 class="special-border-bottom text-uppercase mb-4">{{ "experience" | translate }}</h3>
            <app-studies  [color]="specialActualColor" [title]="'full_stack' | translate" [date]="'2021 / 2022'" [company]="'Digital 55'" [aboutCompany]="'experience_digital' | translate" [url]="'https://digital55.com'" [listItem1]="'api_restful' | translate" [listItem2]="'solid' | translate" [listItem3]="'repositories' | translate" [listItem4]="'blade' | translate" [listItem5]="'mcv' | translate" [listItem6]="'angular' | translate" [listItem7]="'git' | translate" [listItem8]="'refact' | translate"></app-studies>
            <app-studies  [color]="specialActualColor" [title]="'support' |translate" [date]="'2019'" [company]="'Microdream / Erasmus'" [aboutCompany]="'experience_microdream' | translate" [url]="'https://microdream.co.uk'" [listItem1]="'maintence' | translate" [listItem2]="'instalation' | translate" [listItem3]="'assembly' | translate" [listItem4]="'reparation' | translate"></app-studies>
        </div>
        <div class="col-lg-6 col-12 pt-5">
            <h3 class="special-border-bottom text-uppercase mb-4">{{"education" |translate}}</h3>
            <app-studies [color]="specialActualColor" [title]="'higher_degree' | translate" [date]="'2019 / 2021'" [company]="'Ies aguadulce'" [aboutCompany]="'daw_info' | translate" [url]="'http://www.iesaguadulce.es/centro/'"></app-studies>
            <app-studies [color]="specialActualColor" [title]="'medium_degree' | translate" [date]="'2017 / 2019'" [company]="'Ies aguadulce'" [aboutCompany]="'smr_info' | translate" [url]="'http://www.iesaguadulce.es/centro/'"></app-studies>
        </div>
        <div class="col-lg-6 col-12 pt-5 d-none d-lg-block">
            <h3 class="special-border-bottom text-uppercase mb-4">{{ "experience" | translate }}</h3>
            <app-studies  [color]="specialActualColor" [title]="'full_stack' | translate" [date]="'2021 / 2022'" [company]="'Digital 55'" [aboutCompany]="'experience_digital' | translate" [url]="'https://digital55.com'" [listItem1]="'api_restful' | translate" [listItem2]="'solid' | translate" [listItem3]="'repositories' | translate" [listItem4]="'blade' | translate" [listItem5]="'mcv' | translate" [listItem6]="'angular' | translate" [listItem7]="'git' | translate" [listItem8]="'refact' | translate"></app-studies>
            <app-studies  [color]="specialActualColor" [title]="'support' |translate" [date]="'2019'" [company]="'Microdream / Erasmus'" [aboutCompany]="'experience_microdream' | translate" [url]="'https://microdream.co.uk'" [listItem1]="'maintence' | translate" [listItem2]="'instalation' | translate" [listItem3]="'assembly' | translate" [listItem4]="'reparation' | translate"></app-studies>
        </div>
    </div>
</div>